<h1>Please Add Store</h1>

    <div class="buttons">
        <div class="col-xs-2" style=" margin-right: 5px;">
            <input type="text" class="form-control" name="store" id="store" placeholder="Enter store name">
        </div>

    

        <button type="submit" class="btn btn-success" id="add" style=" margin-right: 5px;">Add</button>




    </div>




