<h1>Avo App</h1>

<h2>Best deals</h2>

<table style="color: red;">

    {{#each deals}}
    <tr>
        <td>
            {{qty}} for {{price}}
        </td>
    </tr>
    {{/each}}


</table>


<a class= "links"href="/add">Add Deal</a>
<a class="links"href="/viewShops">View Shops & Deals</a>

<a class="links"href="/addShop">Add Shops</a>



