body {
	background-color: lightseagreen;
	color: whitesmoke;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
	margin: auto;
	width: 80%;
}

.buttons{
    display: flex;
    margin-right: 5px;
    justify-content: center;
    align-content: center;    

}