
h1{
	color: darkgreen;
	font-family: sans-serif;
}
h2{
	color: lightgreen;
	font-family: sans-serif;
}

.container{
	margin: auto;
	width: 80%;
}

.buttons{
    display: flex;
    margin-right: 5px;
    justify-content: center;
    align-content: center;    

}
body, html {
    height: 100%;
    margin: 0;
    background-image: url("avo.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

